.color:hover{
  animation: colorear 3s infinite;
}
.scale:hover{
  transform: scale(1.5);
}
.translate:hover{
  transform: translate(10px,10px);
}
.rotate:hover{
  position :relative;
  animation-name: rotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes rotar{
  from {top: 0px;}
  to {top: 200px;}
}
@keyframes colorear{
  /*from {background-color: white;}*/
  /*to {background-color: red;}*/
  0%{background-color: white;}
  50%{background-color: red;}
  100%{background-color: white;}
}
div{
  margin-top: 2px;
}
